<div class='container'>
  <div class="row">
    <div class="col-lg-6">
			<h1>New Book</h1>

			<%= render 'form' %>

			<%= link_to 'Back', sellers_index_path, :style => "font-size:20px;color: green;" %>
		</div>
	</div>
</div>